@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Rubik', sans-serif;
    background: #0a0a0c;
    color: #fff;
    line-height: 1.7;
    overflow-x: hidden;
    cursor: default;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #9b9a9a;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: rgb(211, 84, 88);
}



/* Header */

.header {
    position: relative;
    display: flex;
    height: 700px;
    background: url('../images/header.webp') no-repeat center center / cover;

}

.header .navbar .nav-link {
    color: #fff;
}

.header .navbar .nav-link:hover {
    color: rgb(211, 84, 88);
}

.header .dropdown-menu {
    background: none;
}

.header-content {
    align-self: flex-end;
    z-index: 2;
    margin-bottom: 60px;
    padding: 0 40px 0 40px;
    display: grid;
    width: 100%;
}

.header-content h1 {
    font-size: 56px;
    margin-bottom: 100px;
}

.header-content .uslugi {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    text-align: center;
}

.header-content .usluga {
    display: flex;
    align-items: center;
    transition-property: transform;
    transition-duration: 0.5s;
}

.header-content .usluga:hover {
    transform: scale(1.2);
}

.header-content .circle {
    width: 20px;
    height: 20px;
    border: rgb(211, 84, 88) solid 1px;
    border-radius: 100%;
    margin-right: 10px;
}

.header-content .divider {
    border-top: rgb(211, 84, 88) solid 2px;
    width: 100%;
    margin-top: 20px;

}

.header::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 230px;
    z-index: 1;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #0a0a0c 70%);
}

/* Offer */

.offer {
    display: grid;
    justify-items: center;
    margin-top: 70px;

}

.offer .offers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.offer .offers>div {
    position: relative;
    height: 500px;
    width: 300px;
}

.offer .offer-grad {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(156.82deg,
            rgba(0, 0, 0, 0.6) 4.58%,
            rgba(0, 0, 0, 0) 69.61%),
        linear-gradient(24.5deg, rgba(0, 0, 0, 0.2) 4.71%, rgba(0, 0, 0, 0) 71.49%);
}

.offer-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.offer h2 {
    margin-bottom: 40px;
}

.offers>div {
    transition-property: transform;
    transition-duration: 0.5s;
}

.offers>div:hover {
    transform: scale(1.05);
}


.offer .offer-1 {
    background: url('../images/czyszczenie-wnetrz.webp') no-repeat center center / cover;
}

.offer .offer-2 {
    background: url('../images/mycie-zewnetrzne.webp') no-repeat center center / cover;
}

.offer .offer-3 {
    background: url('../images/pielegnacja.webp') no-repeat center center / cover;
}

.cta {
    display: grid;
    width: 100%;
    margin: 60px;
    padding: 40px;
    justify-items: center;
    background: url("../images/process.webp") no-repeat center center / cover;
}

.cta .sub-text {
    font-size: 20px;
}

.cta .btn {
    margin-top: 20px;
    background-color: rgb(211, 84, 88);
    padding: 20px 50px;
    border-radius: 2em;
    font-weight: bold;
    transition: 0.2s;
}

.cta .btn:hover {
    background-color: rgb(240, 93, 97);
    box-shadow: 0 0 20px rgb(248, 102, 107);
    color: #fff;
}

/* Gallery */

.gallery {
    position: relative;
    display: grid;
    justify-items: center;
    justify-content: center;
}

.gallery h2 {
    margin-bottom: 40px;
}

.gallery .images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
    margin-bottom: 20px;
}

.gallery .image {
    width: 450px;
    max-height: 250px;
    overflow: hidden;
    cursor: pointer;
    transition-property: transform;
    transition-duration: 0.5s;
}

.gallery .image:hover {
    transform: scale(1.02);
}

.gallery .image img {
    width: 100%;
    height: auto;
}

.gallery a {
    margin-top: 30px;
    border-radius: 2em;
    background: #fff;
    padding: 10px 25px;
}

.gallery a:hover {
    background-color: rgb(240, 93, 97);
    box-shadow: 0 0 10px rgb(248, 102, 107);
    color: #fff;
}

.gallery .zoom-images {
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    display: none;
    background-color: #0a0a0c7c;
    backdrop-filter: blur(8px);
    animation: zoom-open 0.5s;
}

@keyframes zoom-open {
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
    
}

.gallery .zoom-images div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.gallery .zoom-images .close {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.gallery .zoom-images img {
    width: 1400px;
    margin-top: 100px;
}

@media (max-width: 1366px) {
    .gallery .zoom-images img {
        width: 1000px;
        margin-top: 50px;
    }
}

@media (max-width: 768px) {
    .gallery .zoom-images {
        position: fixed;
        top: 0;
    }

    .gallery .zoom-images div {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 100px;
    }

    .gallery .zoom-images img {
        width: 100%;
    }
}

/* Footer */

.footer {
    display: grid;
    margin: 60px 0 0 0;
    padding: 60px 0 40px 0;
    background: #ebedf2;
    color: #333;
}

.footer a {
    color: #333;
}

.footer .copyright a {
    color: #bebebe;
}

.footer a:hover {
    color: rgb(240, 93, 97);
}

.footer .contact-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    line-height: 7px;
}

.footer .social-links {
    display: grid;
    grid-template-columns: repeat(2, 24px);
    margin-top: 40px;
}

.footer .social-links img:hover {
    box-shadow: 0 0 20px rgb(248, 102, 107);
}

.footer .column {
    position: relative;
}

.footer .copyright {
    position: absolute;
    right: 0;
    bottom: 0;
}

/* Media */

@media (max-width: 768px) {

    .header-content {
        margin-bottom: 30px;
    }

    .header-content h1 {
        font-size: 36px;
        margin-bottom: 30px;
    }

    .header-content .uslugi {
        grid-template-columns: 1fr;
        justify-items: left;
    }

    .offer .offers {
        grid-template-columns: 1fr;
    }

    .cta .btn {
        padding: 10px 25px;
    }

    .gallery .image {
        width: 350px;
        max-height: 250px;
        overflow: hidden;
    }

    .footer {
        position: relative;
    }

    .footer .contact-details {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }

    .footer .social-links {
        display: flex;
        justify-content: center;
    }

    .footer .social-links a {
        margin: 8px;
    }

    .footer .column {
        position: static;
    }

    .footer .copyright {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        padding-bottom: 20px;
    }
}